@keyframes Left-and-Right {
    0% {
        left: 300px;
    }
    25% {
        left: 0px;
    }
    75% {
        left: 690px;
    }
    100% {
        left: 300px;
    }

}

@keyframes Zig-Zag {
    0%{
        left: 108px;
        top: 0px;
    }
    10% {
        left: 216px;
        top: 100px;
    }
    20% {
        left: 324px;
        top: 0px;
    }
    30% {
        left: 432px;
        top: 100px
    }
    40% {
        left: 540px;
        top: 0px;
    }
    50%{
        left: 650px;
        top: 100px;
    }
    60% {
        left: 540px;
        top: 0px;
    }
    70% {
        left: 432px;
        top: 100px;
    }
    80%{
        left: 324px;
        top: 0px;
    }
    90% {
        left: 216px;
        top: 100px;
    }
    100% {
        left: 108px;
        top: 0px;
    }
}

@keyframes Short-Circular {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(365deg);
    }
}

@keyframes Long-Circular {
    0%{
        left: 300px;
        top: 0px;
    }
    15% {
        left: 100px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: 50px;
    }
    35% {
        left: 100px;
        top: 100px;
    }
    65% {
        left: 590px;
        top: 100px;
    }
    75% {
        left: 690px;
        top: 50px;
    }
    85% {
        left: 590px;
        top: 0px;
    }
    100% {
        left: 300px;
        top: 0px;
    }
}

#game {
    margin: auto;
    position: relative;
    top: 50px;
    border: 5px solid black;
    height: 600px;
    width: 800px;
    background-image: 'src/images/For_Luna_Sketch.png';
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    position: flex;
}

.canvas {
    border: 5px solid black;
    float: left;
}

.drawing {
    position: relative;
}

.color-picker {
    float: left;
}

.canvas-buttons {
    position: absolute;
    top: 220px;
    left: 0px;
}

#new-form{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 20px 20px 20px 0px;
}

#new-entity {
    display: flex;
}

#player-card {
    border: 5px solid black;
}

#audio {
        position: relative;
        top: -60px;
        left: 495px;
}

#player {
    border: 3px dashed black;
    height: 100px;
    width: 100px;
}

#mob {
    position: absolute;
    top: 0px;
    left: 300px;
    height: 100px;
    width: 100px;
    border: 3px dashed black;
}

#bullet {
    position: absolute;
}

.Left-and-Right {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    animation: 7s infinite Left-and-Right;
    animation-timing-function: linear;
}

.Zig-Zag {
    position: absolute;
    top: 0px;
    left: 300px;
    height: 100px;
    width: 100px;
    animation: 8s infinite Zig-Zag;
    animation-timing-function: linear;
}

.Short-Circular {
    position: absolute;
    top: 200px;
    left: 300px;
    height: 100px;
    width: 100px;
    transform-origin: 100px 150px;
    animation: 6s infinite Short-Circular;
    animation-timing-function: linear;
}

.Long-Circular {
    position: absolute;
    top: 200px;
    left: 300px;
    height: 100px;
    width: 100px;
    transform-origin: 100px 50px;
    animation: 5s infinite Long-Circular;
    animation-timing-function: linear;
}