#game {
    margin: auto;
    position: relative;
    top: 50px;
    border: 5px solid black;
    height: 600px;
    width: 800px;
}

.App {
    position: flex;
}

.canvas {
    border: 5px solid black;
    float: left;
}

.drawing {
    position: relative;
}

.color-picker {
    float: left;
}

.canvas-buttons {
    position: absolute;
    top: 220px;
    left: 0px;
}

#new-form{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 20px 20px 20px 0px;
}

#new-entity {
    display: flex;
}

#player-card {
    border: 5px solid black;
}